body {
    margin:0;
    height:300px;
  }


header{
  justify-content: space-between;
  background-color: #0098fd;
  display: flex;
  height: 100px;
  width:100%;
  position:fixed;
  z-index:1;
}

a{
  text-decoration:none;
  color:white;
}
.sosmed{
  scale:200%;
  transform:translateX(-40px)translateY(13px);
  z-index: 1;
}
.footer{
  transform:translateY(2100px);
  background-color: #0089e4;
  line-height:0.5;
  padding-top:5px;
  padding-bottom:5px;
  font-family: varela round;
  color:#fff;
}

.gbrlogo{
  transform:translateX(-80px);
}
nav a {
  float: left;
    text-align: center;
    padding: 25px 10px;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  color: white;
  font-family:'varela round';
}
nav a:hover {
  background-color: rgb(44, 67, 145);transition:0.5s;scale:105%;box-shadow: 0px 0px 5px rgb(58, 7, 124);
}


.main {
  transform:translateY(-250px);
  background-image:url("awanbg.jpg");
  background-size: 100%;
  transition:0.5s;
  height:70%;
  background-position-y: -100px;
}

.about{
  font-size:90px;
  transform:translateY(10px)translateX(100px);
  transition:0.5s;
  padding:30px 0px 100px 150px;
}

.paragraph{
  transform:translateY(-440px)translateX(140px);
  line-height:0.5;
  transition:0.2s;
  opacity:0;

}

.main:hover .girl{
  transform:translateY(30px);
}
.main:hover .about{
  font-size:40px;
  transform:translateY(-20px);
}

.main:hover{
  height:100%;
}

.main:hover .paragraph{
  transform:translateY(-120px)translateX(180px); 
  opacity:1;
}

.logo1{
  height:60px;
  color: white; 
  font-family:rubik bubbles;
  line-height:0;
  transform:translateY(-20px);
}

.logo2{
  color: white; 
  font-family:rubik bubbles;
  font-style:bold;
  transform:translateY(-150px);
}

.birjahe{
  position:relative;
  margin-left:1000px;
  top:-1660px;
  left:-500px;
}

.girl{
  transform:translateX(2150px)translateY(-1740px);
  scale:45%;
}
.container{
  position:relative;
  width:100%;
  height : 400px;
  overflow:hidden;

}
.bubbles{
  position :relative;
  display:flex;

}
.bubbles span{
  position:relative;
  width : 30px;
  height:30px;
  background-color:rgb(178, 227, 255);
  margin:0 4px;
  border-radius:50%;
  box-shadow:0 0 50px #d3f3ff, 0 0 100px #e1fd95 ;
  animation:animation 15s linear infinite;
  animation-duration:calc(130s/var(--i));

}

@keyframes move-rtl {
  0%{
      transform :translateX(0);
  }
  100%{
      transform: translateX(-100%);
  }
}



@keyframes slidein {
  from{
      margin-left:100%;
  }
  to{
      margin-left:0%;
  }
}
